.cart-info{
   position: fixed;
   color: rgb(29, 29, 29);
}
.cart-info .cart-header{
   padding-top: 1.5rem;
}
.Choses-btn{
   cursor: pointer;
   border: none;
   background-color: rgb(2, 165, 214);
   font-size: 1rem;
   width: 100%;
   padding: 5px 12px;
   margin-top: .5rem;
   color: #fff;
   border-radius: .2rem;
   -webkit-border-radius: .2rem;
   -moz-border-radius: .2rem;
   -ms-border-radius: .2rem;
   -o-border-radius: .2rem;
}
.Clear-btn{
   cursor: pointer;
   border: none;
   background-color: rgb(179, 28, 36);
   font-size: 1rem;
   width: 100%;
   padding: 5px 12px;
   margin-top: 1rem;
   color: #fff;
   border-radius: .2rem;
   -webkit-border-radius: .2rem;
   -moz-border-radius: .2rem;
   -ms-border-radius: .2rem;
   -o-border-radius: .2rem;
}
.Choses-btn:hover{
   background-color: rgb(2, 149, 194);
}
.Clear-btn:hover{
   background-color: rgb(163, 7, 15);
}
.Choses-icon{
   display: inline-block;
   padding-left: .5rem;
}

.cart-img{
   display: flex;
   align-items: center;
   width: 50px;
   height: 50px;
}
.cart-img  img{
   width: 100%;
   height: auto;
   border-radius: .3rem;
   -webkit-border-radius: .3rem;
   -moz-border-radius: .3rem;
   -ms-border-radius: .3rem;
   -o-border-radius: .3rem;
}
.cart-img p {
   padding-left: .5rem;
   font-size: 1.1rem;
}
#x-icon{
   margin-left: 1.5rem;
   border: none;
   font-size: 1.5rem;
   background-color: transparent;
   color: red;
   cursor: pointer;
}